
body {
    font-family: "Lato", sans-serif;
    background-color: #282828;
    color: white;
    margin: 0;
    display: flex;
}

.header-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 5%;
    color: #1DB954;
}

h2 {
    color: #1DB954;
    font-size: 2em;
    margin-bottom: 3%;
    margin-bottom: 20px;
}


ul {
    padding-left: 0;
}

ul li {
    font-size: 18px;
}

/* Tableau Playlist -------------------------------------------------------------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
  }
  
td {
    padding: 10px;
    border: 1px solid #beb5b5;
  }
  
td:first-child {
    font-weight: bold;
  }
  
tr:nth-child(odd) {
    background-color: #1db954;
  }

tr:nth-child(even){
    background-color: #333533c5;
}
  
/* SideBar ----------------------------------------------------------------------------------------------------------------------------*/

.sidebar {
    display : block;
    width: 20%;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 1%;
    padding-bottom : 12%;

}


.sidebar a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #1DB954;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
    margin-left : 20px;
}

.logo {
    width: 70%;
    display: block;
    margin: 0 auto 0 auto;
}

.header-title {
  font-size: 35px;
  margin-bottom: 30px;
}


@media only screen and (max-width: 980px) {
    .sidebar {
      width: 40%;
    }
  
    .logo {
      width: 50%;
    }
  
    .header-title {
      font-size: 1.2em;
      margin-bottom: 10%;
    }
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 5%;
    }
  }

/*Top tracks---Bouton Select ---------------------------------------------------------------------------------------------------------------------- */
  
  .top-lists {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left : 7%;
    margin-top : 12%;
  }

  .top-artists, .top-tracks {
    flex-basis: 40%;
  }

  select {
    appearance: none;
    background-color: #282828;;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    
  }
  
  select:hover {
    border-color: #1db954;
  }
  
  .top-artists select,
  .top-tracks select {
    width: 200px;
    margin-bottom: 10px;
    
  }
  

/*  Profile -------------------------------------------------------------------------------------------------------------------------*/

#profile{
  position: fixed;
  top: 0;
  right: 0;
  margin-right : 20px;
}

#displayName {
  padding : 20px;
}

.profile-image {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

#avatar {
  background-color: #1db954;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}


/*Acceuil------------------------------------------------------------------------------------------------------------------*/

#titre_acceuil{
  display: block;
  background-color: #111;
  border-radius: 20px;
  color: #1DB954;
  font-size: 30px;
  font-weight: bold;
  padding : 20px;
  margin-top: 10%;
  text-align : center;
}

#bouton-acceuil{
  margin-top : 5%;
}

#titre_home_page{
  color: #1DB954;
  font-size: 40px;
  padding : 20px;
}

#titre_artist{
  display: inline-block;
  background-color: #111;
  border-radius: 20px;
  font-size: 30px;
  padding : 20px;
}

#topRecommendations{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left : 7%;
  margin-top : 12%;
}